* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  background-color: white;
}

.title {
  color: gold;
  font-family: "Amatic SC", cursive;
  font-size: 150px;
  text-shadow: black 5px 2px;
  background-image: url(https://miro.medium.com/max/4096/1*Zdt2NFm07C9CvZJ_yGF4LQ.jpeg);
  background-size: contain;
  padding-top: 0px;
  margin-top: 0px;
  border-bottom: red solid 3px;
}
.enterName {
  font-family: "Amatic SC", cursive;
  color: black;
  text-shadow: white 2px 2px;
  font-size: 50px;
}

.ftdjkhaled {
  font-family: "Amatic SC", cursive;
  color: black;
  font-size: 50px;
}

span {
  font-style: italic;
  color: gold;
  text-shadow: black 2px 2px;
}

.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.track h3 {
  font-family: "Amatic SC", cursive;
  font-size: 100px;
}

.track-text {
  height: 300px;
  width: 500px;
}
.track h3 {
  text-decoration: underline;
}

ul {
  list-style: none;
  font-family: "Amatic SC", cursive;
  font-size: 35px;
  color: black;
  border: gold 2px solid;
  width: 400px;
  margin: 0 auto;
  justify-content: center;
  padding-left: 0px;
  background-color: rgb(194, 251, 194);
}

button {
  margin: 20px;
  font-size: 30px;
  font-family: "Amatic SC", cursive;
}

.addOrRemove {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  font-style: italic;
}

#djName {
  min-width: 500px;
  height: 100px;
  justify-content: center;
  size: 100px;
  text-align: center;
  font-size: 40px;
  font-family: "Amatic SC", cursive;
}

.vibe {
  background-image: url(https://i.pinimg.com/originals/c0/8e/ee/c08eeeed144b857bd13e0fa97a7810cb.jpg);
  background-position: center right;
  background-size: cover;
}

.vibe h3 {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  color: black;
}

.lyrics_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lyric-stanza {
  width: 100%;
}

.pic-catchphrase-gaze,
.pic-catchphrase-jetski {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-image: url(https://wallpaper.dog/large/17100876.png);
}

.lines {
  font-family: "Amatic SC", cursive;
  font-size: 3em;
  color: black;
  text-shadow: white 2px 2px;
}

.ANOTHAONE {
  margin: auto;
  font-size: 5em;
  font-family: "Amatic SC", cursive;
  color: white;
  text-shadow: black 2px 2px;
}

.dev-info {
  margin: 0;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: black;
}
.dev-info img {
  margin: auto 0;
  padding: 0.5em;
}
.dev-info .ANOTHAONE {
  font-size: 3em;
  margin: 0 0.5em;
}

#wedabest {
  margin: 0;
  position: absolute;
  right: 1vw;
}
